/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.dropdown-menu {
    background: -webkit-gradient(linear, left top, left 25, from(#E17D7B), color-stop(4%, #390E0D), to(#E17D7B));
    background: -moz-linear-gradient(top, #E17D7B, #390E0D 1px, #E17D7B 25px);
    color: white;
}

.dropdown-menu li > a {
    color: #fff;
}

.dropdown-menu > li {
    background: #D9534F;
    border-bottom: 1px solid #791C1A;
    border-left: 2px solid #791C1A;
    border-right: 2px solid #791C1A;
}

.dropdown-menu li > a:hover {
    background: #D9534F;
}

.dropdown-menu > li > .divider {
    background-color: #D9534F;
    border: 10px solid #791C1A;
}